<h3>Welcome</h3>
<div class="container" id="page-content">
        <!-- Content here -->
        <div class="row">
            <div class="col-sm-4">  
                <img id="profile-pic" src="images/professional_headshot.jpg" alt="Profile Image">
                <%= image_tag('professional_headshot.jpg', class: "img-fluid")%>
            </div>
            <div class="col-sm-8">
                <h1>About Me</h1>

<!-- Short Bio -->
      <p> My extensive managerial experience, includes strong communication and public relations skills, team collaboration and the ability to meet organizational objectives, and deadlines.  I am certain I can demonstrate to be an asset to this company since I have my Bachelor of Science Degree In Statistics, my certificate in Web Development, I/O Ave and currently Master of Education in Learning and Technology.

        </p>
        
      
    <!-- Social and Contact Links -->
      <a  class="btn btn-outline-dark" href="https://www.linkedin.com/in/june-logan/" target="_blank">LinkedIn</a>
      <a  class="btn btn-outline-dark" href="https://github.com/junelogan" target="_blank">GitHub</a>
      <a  class="btn btn-outline-dark" href="mailto:june.yvette.logan@gmail.coom">Email</a>
    </div>
  </div>
</div>
          
    <!-- At the end of all your content, add Bootstrap JS here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


