/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#headshot {
  width: 100%; /* constrain the width */
  height: auto; /* height automatically calculated to maintain aspect ratio */
margin-bottom:40px;/*Whitespace needed for moble*/
}



#headshotContainer {
  display: inline-block;
    width: 30%;
    margin: -4px
        
}

#aboutContainer {
  display: inline-block;
    width: 70%;
    margin: -4px;
    vertical-align: top;
} */

<div class="container">
  <!-- Content here -->
  <div class="row">
    <!-- This is where all our website content will go -->
  </div>
</div>
